.normal{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}
.fullscreen{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-left: 0px;
}
